Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a = "Vaishnavi"
b = ['Vaishnavi','Sumit','Raksha',1,2,3,4,True,52.25]
c = 2.2
d = ('vaish','Raksha',1,2,3,4,True,52.25)

In [8]:
print("String is : ",a)
print("List is :",b)
print("Float is :",c)
print("Tuple is:",d)

String is :  Vaishnavi
List is : ['Vaishnavi', 'Sumit', 'Raksha', 1, 2, 3, 4, True, 52.25]
Float is : 2.2
Tuple is: ('vaish', 'Raksha', 1, 2, 3, 4, True, 52.25)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [11]:
var1 = ' '
type(var1)

float

In [13]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [16]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
a = 10
b = 20

2.0

In [22]:
c = b / a
print(c)

2.0

In [23]:
d = b % a
print(c)

2.0

In [25]:
e = b // a
print(e)

2

In [29]:
f = a**b
print(f)

100000000000000000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [31]:
l = [1,2,3,4,5.6,7.8,"Vaish",True,False,"Sumit"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))
count = 0


while A % B == 0:
    count += 1
    A //= B  # Integer division to update A

if count > 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the dividend (A):  40
Enter the divisor (B):  2

5 is purely divisible by 2 and can be divided 3 times.

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,35]
for i in l:
    if i % 3 == 0 :
        print(i," It is divisible by 3")
    else:
        print("It is not Divisible by 3")

It is not Divisible by 3
It is not Divisible by 3
3  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
6  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
9  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
12  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
15  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
18  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
21  It is divisible by 3
It is not Divisible by 3
It is not Divisible by 3
24  It is divisible by 3
It is not Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [3]:
#immutable
v = "vaishnavi"
type(v)

str

In [4]:
v[0:9]

'vaishnavi'

In [16]:
v[1] = 2 #string is

TypeError: 'str' object does not support item assignment

In [7]:
#immutable
l = [1,2,3,4,"VAishnavi",True,0]

In [8]:
l[0]

1

In [9]:
l[4]

'VAishnavi'

In [12]:
l[4] = "Sumit"

In [13]:
l[5] = False

In [14]:
l

[1, 2, 3, 4, 'Sumit', False, 0]